
#nav_bar_include { /*barra de navegacion de menu principal*/
    background-color: rgba(227,6,19,0.95);   
	font-size: 125%;
}

.lotusui div.ics-scbanner {
    background-color: rgba(227,6,19,0.95);       
}


.lotusui30 .lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper .lotusPaging.lotusPagingTop {
    background-color: rgba(227,6,19,0.95);   

}


.search-history-view-ui .lotusui30 .icSearchPaneButton { /*simbolo de la lupa*/
	background-color: rgba(227,6,19,0.95);   /*Color rojo*/
	outline: rgba(227,6,19,0.95) solid 1px; /*Enmarcar un objeto*/
}